.madeleine {
  background: transparent;
  height: 400px;
  width: 640px;
}
.madeleine canvas {
  background: #4F4F4F; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #4F4F4F 27%, #2D2D2D 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(27%,#4F4F4F), color-stop(100%,#2D2D2D)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #4F4F4F 27%,#2D2D2D 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #4F4F4F 27%, #2D2D2D 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #4F4F4F 27%, #2D2D2D 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, #4F4F4F 27%, #2D2D2D 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4F4F4F', endColorstr='#2D2D2D',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
